#comments-view-wrapper,#comments-view-head,#root-comment-adding-form{
    display: flex;
    flex-direction: column;
    width: 97.5%;
    margin-right: 2.5%;
}
#comments-view-head,#root-comment-adding-form{
    align-items: center;
    width: 100%;
}
#root-comment-btn{
    border-radius: 20px;
    width: fit-content;
    height: 50px;
    border-color: black;
    border-style: solid;
    color: white;
    font-size: 4vh;
    cursor: pointer;
}
#root-comment-adding-form textarea{
    width: 70%;
    height: 25vh;
}
#comments-view-head > *,#root-comment-adding-form > *{
    margin-top: 10px;
}