#screenshots-carousel{

}

.screenshot{
    height: 60vh;
    width: auto !important; 

}

#screenshots-carousel .thumb .screenshot {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
}
#screenshots-carousel .thumb{
    height: 15vh !important;
    width: auto;
}
#screenshots-carousel .carousel-root,#screenshots-carouse .carousel.carousel-slider{
    height: auto;
    width: auto;
    object-fit: cover;
    max-width: 70vw; 
    max-height: 80vh;
}
#screenshots-carousel .carousel .slider-wrapper{
    margin: 0px;
    padding: 0px;
}
#top-info{
    display: flex;
    flex-direction: row;
}
#right-info-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#buy-btn,#in-library-btn,#in-cart-btn{
    border: none;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
    
}
#buy-btn{
    background-color: red;
    cursor: pointer;

}
#in-library-btn{
    background-color: greenyellow;
}
#in-cart-btn{
    background-color: yellow;
}
#description{
    background-color: tan;
    border-radius: 20px;
    padding: 10px;
}
#mark-circle-bar{
    height: 100px;
    width: 100px;
}
#mark-setter-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mark-setter-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
}
#mark-setter-button{
    display: flex;
}
.mark-slider-setter{
    width: 300px;
    height: 10px;
}
#tag-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}
.tag{
    background-color: cadetblue;
    color: chartreuse;
    max-width: 25vw;
    min-height: 20px;
    border-radius: 20px;
    cursor: pointer;
}