.gamesList{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
@media (max-width:  1000px) {
    .gamesList{
        grid-template-columns: repeat(2,1fr);
    }
}