
#screenshots-carousel{
    width: 100%;
    height: auto;
}
#screenshots-carousel  * > img{
    width: 100%;
    height: auto;
}
.screenshot{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

#screenshots-carousel .thumb .screenshot {
    max-width: 100%; 
    object-fit: cover;
}
#screenshots-carousel .thumb{
    height: auto;
    width: 20vw !important;
    max-height: 20vh;
}
#screenshots-carousel .carousel-root,#screenshots-carousel .carousel.carousel-slider{
    height: 100%;
    width: auto;
    object-fit: cover;
}
#screenshots-carousel .carousel .slider-wrapper{
    margin: 0px;
    padding: 0px;
}
#top-info{
    display: flex;
    flex-direction: column;
}
#top-info h1,#top-info h2{
    font-size: 5vh;
}
#right-info-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#buy-btn,#in-library-btn,#in-cart-btn,#mark-setter-button{
    border: none;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    
}
#buy-btn{
    background-color: red;
    cursor: pointer;

}
#in-library-btn,#mark-setter-button{
    background-color: greenyellow;
}
#in-cart-btn{
    background-color: yellow;
}
#description{
    background-color: tan;
    border-radius: 20px;
    padding: 10px;
    font-size: 4vh;
    margin-right: 3vw;
    margin-left: 3vw;
}
#mark-circle-bar{
    margin-top: 10px;
    height: 20vmin;
    width: 20vmin;
}
#mark-setter-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mark-setter-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
}
.mark-slider-setter{
    width: 300px;
    height: 10px;
}
#tag-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3vw;
    margin-left: 2vw;
    margin-right: 3vw;
}
.tag{
    background-color: cadetblue;
    color: chartreuse;
    width: 100%;
    height: 6vh;
    min-height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 2.5vh;
    padding: 2px 2px 2px 2px;
}

#your-mark-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mark-setter-button{
    cursor: pointer;
}


@media (max-width: 1000px){
    .screenshot{
        height: auto;
        height: auto;
    }
    #top-info{
        flex-direction: column;
    }
    #screenshots-carousel .carousel-root,#screenshots-carousel .carousel.carousel-slider{
        max-width: 100%;
        max-height: none;
    }
    #screenshots-carousel .thumb{
        height: auto;
        width: auto;
        max-width: 35vh;
        max-height: 35vh;
    }
    #screenshots-carousel *  > .animated{
        max-height: 100%;
        max-width: 100%;
    }
    #screenshots-carousel{
        width: auto;
        height: auto;
    }
    #tag-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}