.gameShortcut{
    height: 40vh;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.gameShortcutImage{
    max-height: 65% !important;
    width: auto !important;
    max-width: 100%;
    align-self: center;
}
h4{
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
}
.additional-functionality-btn{
    width: 100%;
}