#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    background-color: rgb(77, 82, 87);
    align-items: center;
    height: 8vh;
}
.header-btn{
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: white;
    width: 100%;
    font-size: 3.5vh;
}
.header-btn:hover{
    background-color: yellow;
    color: black;
    transition-duration: 0.7s;
}
.header-search-field{
    width: 100%;
    flex: 0 0 25vw;
    height: auto;
}
.jWJsas > ul{
    position: absolute;
    z-index: 3;
}