.header-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: chocolate;
    align-items: center;
}
.review-header,.header-time{
    font-size: 3vmin;
}
.review-header{
    color: green;
}
.votes-block{
    display: flex;
    align-items: center;
}
.vote-btn,.vote-set{
    height: 8vmin;
    width: 8vmin;
    font-size: 4vh;
    border-color: black;
    border-radius: 7px;
    margin: 0px 10px ;
}
.vote-set{
    border-color: chocolate;
    border-width: 7px;
}
.header-time{
    color: chocolate;
}
.votes-counter{
    font-size: 3.0vmin;
}
.add-comment-btn{
    border: black 3px solid;
    border-radius: 10px;
    font-size: 3.0vmin;
    height: fit-content;
    align-self: center;
}