#review-adding-btn,#send-review-btn{
    border-radius: 30px;
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
    border-width: 0;
    cursor: pointer;
    transition: 100ms;
}
#review-adding-btn:active,#send-review-btn:active{
    border: 5px solid teal;
}
#review-text-area{
    width: 90vw;
    height: 50vh;
}
#send-review-btn{
    width: 5vmax;
    height: 5vmax;
    font-size: 4vh;
}
#review-adding-form-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#review-adding-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}