#review-adding-btn{
    background-color: greenyellow;
    border-radius: 30px;
    height: 10vh;
    width: 10vh;
    font-size: 7vh;
    border-width: 0;
    cursor: pointer;
    transition: 100ms;
}
#review-adding-btn:active{
    background-color: yellow;
    border: 5px solid teal;
}
#review-text-area{
    width: 90vw;
    height: 50vh;
}
#send-review-btn{
    background-color: turquoise;
    width: 5vmax;
    height: 5vmax;
}