@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';

$svg-color: #FFFFFF;

.wrap{
	perspective-origin: 50% 50%;
	height: 0;
}

.svg{
	stroke:$svg-color;
	position:relative;
	transform-style: preserve-3d;
	bottom: 0;
	right: 20%;
}

$total: 10;
@for $i from 1 through $total {
	$scale:random(2) - .4;
	
	.svg:nth-child(#{$i}){
		
		left:random(60) * 1%;
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		z-index: 0;
	  @keyframes raise#{$i} {
		  to{
			 bottom:100%;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}