@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';

$svg-color: #FFFFFF;

.wrap{
	perspective-origin: 50% 50%;
	max-height: 80vh;
}

.svg{
	stroke:$svg-color;
	position:relative;
	transform-style: preserve-3d;
}

$total: 10;
@for $i from 1 through $total {
	$scale:random(2) - .4;
	
	.svg:nth-child(#{$i}){
		animation: raise#{$i} 35 + random(20) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		z-index: 0;
	  @keyframes raise#{$i} {
		  from{
			  left: -100vw;
		  }
		  to{
			left: 135vw;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}

.upsilon-particle{
	
}