.adding-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adding-line-input-elment{
    max-height: 60px;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
}