.adding-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adding-line-input-elment{
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    width: 50%;
}
.adding-line > h1,.adding-line-input-elment{
    font-size: 5vh;
}